.column-overflow {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    .column-overflow__content{
      flex: 1;
      min-width: 0;
    }
    .column-overflow__hidden {
      width: 100%;
      > div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }
  }